<table
  class="table table-hover t-responsive table-frontbg"
  mat-table
  [dataSource]="dataSource"
>
  <ng-container matColumnDef="swift_code">
    <th mat-header-cell *matHeaderCellDef>Swift Code</th>
    <td mat-cell *matCellDef="let element">{{ element.swift_code }}</td>
  </ng-container>
  <ng-container matColumnDef="account_number">
    <th mat-header-cell *matHeaderCellDef>Account Number</th>
    <td mat-cell *matCellDef="let element">{{ element.account_number }}</td>
  </ng-container>
  <ng-container matColumnDef="routing_number">
    <th mat-header-cell *matHeaderCellDef>Routing Number</th>
    <td mat-cell *matCellDef="let element">{{ element.routing_number }}</td>
  </ng-container>
  <ng-container matColumnDef="min_settlement_amount_btc">
    <th mat-header-cell *matHeaderCellDef>Min. Settlement Amount (BTC)</th>
    <td mat-cell *matCellDef="let element">
      {{
        element.min_settlement_amount_btc
          ? element.min_settlement_amount_btc
          : 0
      }}
    </td>
  </ng-container>
  <!-- <ng-container matColumnDef="min_settlement_amount_usd">
      <th mat-header-cell *matHeaderCellDef> Min. Settlement Amount (USD)  </th>
      <td mat-cell *matCellDef="let element">
       {{element.min_settlement_amount_usd ?element.min_settlement_amount_usd :0}}
      </td>
    </ng-container> -->
  <ng-container matColumnDef="created">
    <th mat-header-cell *matHeaderCellDef>Created</th>
    <td mat-cell *matCellDef="let element">{{ element.created | date }}</td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <span (click)="delete(element.id)">
        <i class="fas mr-3 fa-trash"></i>
      </span>
      <span (click)="editBank(element.id, element)">
        <i class="fas ml-2 fa-pencil-alt"></i>
      </span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns"></tr>
</table>

<div class="col-md-auto" *ngIf="filterData.length">
  <mat-paginator
    [length]="pageInfo.count"
    [pageSize]="limit"
    [pageIndex]="page"
    [pageSizeOptions]="[5, 10, 20, 50, 100]"
    (page)="paginate($event)"
  >
  </mat-paginator>
</div>
<div class="col-md-12 text-center pt-4" *ngIf="!filterData.length">
  <p>No bank accounts have been added</p>
</div>
