<form class="row" [formGroup]="form" (submit)="submit()">
  <div class="col-md-6 form-group">
    <label for="">First Name *</label>
    <input type="text" formControlName="first_name" autocomplete="off" class="form-control">
    <span *ngIf="form.get('first_name').hasError('required') && form.get('first_name').touched" class="errors">
      <small> First Name is required</small>
    </span>
  </div>
  <div class="col-md-6 form-group">
    <label for="">Last Name *</label>
    <input type="text" formControlName="last_name" autocomplete="off" class="form-control">
    <span *ngIf="form.get('last_name').hasError('required') && form.get('last_name').touched" class="errors">
      <small> Last Name is required</small>
    </span>
  </div>
  <div class="col-md-6 form-group">
    <label for="">Business Name *</label>
    <input type="text" formControlName="business_name" autocomplete="off" class="form-control">
    <span *ngIf="form.get('business_name').hasError('required') && form.get('business_name').touched" class="errors">
      <small> Business Name is required</small>
    </span>
  </div>
  <div class="col-md-6 form-group">
    <label for="">EIN *</label>
    <input type="text" formControlName="ein" autocomplete="off" class="form-control">
    <span *ngIf="form.get('ein').hasError('required') && form.get('ein').touched" class="errors">
      <small> EIN is required</small>
    </span>
    <span *ngIf="form.get('ein').hasError('InvalidEIN') && form.get('ein').touched && !form.get('ein').hasError('required')"  class="errors">
        <small> Please enter valid EIN  </small>
      </span> 
  </div>
  <div class="col-md-6 form-group">
    <label for="">Address *</label>
    <input type="text" formControlName="address" autocomplete="off" class="form-control">
    <span *ngIf="form.get('address').hasError('required') && form.get('address').touched" class="errors">
        <small> Address is required</small>
      </span>
  </div>
  <div class="col-md-6 form-group">
    <label for="">City *</label>
    <input type="text" formControlName="city" autocomplete="off" class="form-control">
    <span *ngIf="form.get('city').hasError('required') && form.get('city').touched" class="errors">
        <small> City is required</small>
      </span>
  </div>
  <div class="col-md-6 form-group">
    <label for="">State </label>
    <input type="text" formControlName="state" autocomplete="off" class="form-control">

  </div>
  <div class="col-md-6 form-group">
    <label for="">Zipcode </label>
    <input type="text" formControlName="zip" autocomplete="off" class="form-control">

  </div>

  <div class="col-md-6 form-group">
    <label for="">Phone Number * </label>
    <input numberOnly type="text" formControlName="phone_number" autocomplete="off" class="form-control">
    <span *ngIf="form.get('phone_number').hasError('required') && form.get('phone_number').touched" class="errors">
        <small> Phone Number is required</small>
      </span>
  </div>
  <div class="col-md-6 form-group">
    <label for="">Website *</label>
    <input type="text" formControlName="website" autocomplete="off" class="form-control">
    <span *ngIf="form.get('website').hasError('required') && form.get('website').touched" class="errors">
        <small> Website is required</small>
      </span>
     
    <span *ngIf="form.get('website').hasError('validUrl') && form.get('website').touched && !form.get('website').hasError('required')"  class="errors">
        <small> Please enter valid Website </small>
      </span> 
  </div>
  <!-- <div class="col-md-6 form-group">
  
  </div> -->
  <div class="col-md-6 form-group">
    <label for="">Wallet Provider * </label>
    <input type="text" formControlName="wallet_provider" autocomplete="off" class="form-control">
    <span *ngIf="form.get('wallet_provider').hasError('required') && form.get('wallet_provider').touched" class="errors">
        <small> Wallet Provider is required</small>
      </span>
  </div>
  <div class="col-md-6 form-group" style="position: relative;">
    <label for="">Wallet Address * </label>
    <a href="https://www.coinbase.com/join/5c251b5986c66e01f832aebb" target="_blank" class="btn need-btn"> Need Wallet ?</a>
    <input  (focusout)="focusOutFunction()" type="text" formControlName="wallet_address" autocomplete="off" class="form-control">
    <span class="check" > <i  [ngStyle]="{'color':isValid?'green':'red'}" [ngClass]="{'fa-times':isValid===false , 'fa-check':isValid}" class="fa "></i></span>
    <span *ngIf="form.get('wallet_address').hasError('required') && form.get('wallet_address').touched" class="errors">
        <small> Wallet Address is required</small>
      </span>
  </div>
  <div class="col-md-6 form-group">
    <label for="">Secondary Wallet Provider: </label>
    <input type="text" formControlName="secondary_wallet_provider" autocomplete="off" class="form-control">
  </div>
  <div class="col-md-6 form-group">
    <label for="">Secondary Wallet Address: </label>
    <input type="text" (focusout)="secondayValidate()" formControlName="secondary_wallet_address" autocomplete="off" class="form-control">
    <span class="check" > <i  [ngStyle]="{'color':isValid_2nd?'green':'red'}" [ngClass]="{'fa-times':isValid_2nd===false , 'fa-check':isValid_2nd}" class="fa "></i></span>
  </div>
  <div class="col-md-12 mt-5">
    <p>
      If you have any additional authorized persons on your account please provide their information. We will NOT discuss any account
      information with parties not explicitly authorized in writing to us
    </p>
    <h3 class="a-title">Additional Authorized person(s):
      <span class="add" (click)="addPersion()">Add More
        <i class="fa ml-2 fa-plus"></i>
      </span>
    </h3>
  </div>
  <div class="persionArray" formArrayName="authorized_persons">
    <div *ngFor="let persion of form['controls'].authorized_persons['controls']; let i=index">
      <div [formGroupName]="i" class="row">
        <div class="col-md-5 form-group">
          <label for="">Name</label>
          <input class="form-control" formControlName="name" type="text">
        </div>
        <div class="col-md-5 form-group">
          <label for="">Email</label>
          <input class="form-control" formControlName="email" type="text">
          <span *ngIf="persion.get('email').hasError('email') && !persion.get('email').hasError('required')" class="errors">
              <small> Please enter a valid email address</small>
            </span>
        </div>
        <div class="">
          <span class="close" (click)="removePersion(i)">x</span>
        </div>
      </div>
    </div>
  </div>


  <div class="persionArray">
    <div class="row justify-content-center">
        <button class="btn submit-btn  col-md-3">
          <span>Submit</span>
          <i *ngIf="loading" class="fa fa-spinner ml-2 fa-spin"></i>
        </button>
      
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 mt-4 pt-3 form-group" #hasAlert>
      </div>
    </div>
  </div>

</form>