
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 78%;
    margin-bottom: 0;
}

.input-lg, .form-group-lg .form-control {
    height: 42px;
    padding: 10px 16px;
    font-size: 15px;
    line-height: 1.33;
    border-radius: 2px;
}