<section class="slider-content login-content">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12 col-12 slider-body">
        <h3></h3>

      </div>
    </div>
  </div>
</section>
<section class="login-content">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <!--<div class="text-center ">-->
        <!--<a routerLink="" class="login-logo">-->
        <!--<img src="assets/img/home/logo.png" class="img-fluid">-->
        <!--</a>-->
        <!--</div>-->
        <div class="login-inner">
          <div class="login-left-side">
            <div class="login-middle">
              <div class="login-left-inner text-center"><a class="text-stronger"
                  routerlink="" ng-reflect-router-link="" href="/"><img alt="logo" class="img-fluid"
                    src="assets/img/logo.png"></a></div>
            </div>
          </div>
          <div class="login-right-side pt-0">
            <h4 class="pt-0">Sign In</h4>
            <div style="position: absolute;" #hasAlert></div>
            <div class="custom-alert" *ngIf="is_Current_register.valid">
              <!-- <p>Email with password was sent to {{is_Current_register.email}}.</p> -->
              <p>{{is_Current_register.message}}</p>
            </div>
            <form class="mt-5 pt-4 " [formGroup]="form" (submit)="signIn()">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <i class="fa fa-envelope-open"></i>
                  </span>
                </div>
                <input type="Email" class="form-control" placeholder="Email" formControlName="email">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <i class="fa fa-key"></i>
                  </span>
                </div>
                <input type="Password" class="form-control" formControlName="password" placeholder="Password">
              </div>
              <div class="row input-group mb-3">
                <button type="submit" class="login-btn">
                  <span>Sign In</span>
                  <i *ngIf="loading" class="fa fa-spinner ml-2 fa-spin"></i>
                </button>
              </div>
              <div class="input-group forgot-signup">
                <a routerLink="/forgot-password">Forgot Password?</a>
                <a routerLink="/sign-up" class="text-right">Sign up
                  <i class="fa fa-long-arrow-alt-right"></i>
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>