.alert {
    float: right;
    margin-right: 30px;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
    padding-top: 0;
}

.send-btn:hover, .send-btn {
    border: none;
}
.send-btn:hover {
    background-color: #000B6D;
    color: #fff;
    opacity: .8;
}
.send-btn {
    cursor: pointer;
    padding: 10px 30px;
    background-color: #000B4D;
    color: #fff;
    text-decoration: none !important;
    border-radius: 50px;
}

.form-group {
    padding: 0 20px;
}

select {
    width: 95px!important
}