<div class="border border-dark rounded">
<div class="container pb-5">
  <div class="row">
    <div class="col-md-12 p-0">
      <h5 class="section-title pl-3">Basic Integration</h5>
    </div>

    <!-- <p class="col-12">ColtPay supports a wide range of Integration options. We offer a full RESTful API, Wordpress
      Plugin, and drop in HTML Button.</p>

    <p class="col-12">This guide will describe the HTML button option. This is a great option for donation buttons, but
      can be used for the full checkout flow. </p>

    <p class="col-12">Go to Account Profile > API Keys and genreate a new Public API key. These keys can not be viewed once they are
      created so be sure to save it in a safe location. The Public API key can only be used to create invoices and is
      safe to put on your website. </p>


    <div class="col-12">
      <code>
          &lt;a href='https://coltpay.com/checkout?public_api_token=***PUBLIC_TOKEN***&fiat_currency=usd&fiat_currency_price=5.00&notification_url=https://yourwebsite.com/notification' title='Pay with bitcoin'&gt;<br/>
          &lt;img src='/assets/bitcoin-accepted-here.png' alt='Pay with bitcoin button'/&gt;<br/>
          &lt;/a&gt;
      </code>
    </div>

    <p class="col-12">The above code snippet includes a link and a button. These can be edited to fit your needs. </p>

    <p class="col-12"> The link to the coltpay checkout page accepts the folowing parameters:</p>
    <div class="col-12">
      <ul>
        <li><kbd>public_api_token</kbd> - REQUIRED </li>
        <li><kbd>currency</kbd> - REQUIRED - 3 letter currency code i.e. usd, btc, mxn</li>
        <li><kbd>price</kbd> - REQUIRED - The price of to match the currency</li>
        <li><kbd>notification_url</kbd> - OPTIONAL - The URL you want us to send update notifications to.</li>
        <li><kbd>order_id</kbd> - OPTIONAL - An optional order ID you want to attach your transaction to.</li>
          <li><kbd>cancel_url</kbd> - OPTIONAL - The URL you want us to redirect the customer to if they cancel the
            transaction.</li>
          <li><kbd>success_url</kbd> - OPTIONAL - The URL you want us to redirect the customer to if they successfully
          complete the transaction.</li>
      </ul>
    </div>

    <p class="col-12"><strong>IMPORTANT NOTE:</strong> You should never trust the data sent to your <kbd>notification_url</kbd> and should always validate the data with our RESTful API. </p> -->

    <div class="col-12">
      <p>This guide will describe the HTML button option. This is a great option for donation buttons, but can be used for the full checkout flow.</p>
    </div>
  </div>
</div>
</div>
<div class=" bg-grey"></div>

<div class="border border-dark rounded">
<div class="container pb-5">
  <div class="row">
    <div class="col-md-12 p-0">
      <h5 class="section-title pl-3">Example</h5>
    </div>
    <div class="col-12 p-5">
      <p>Below is an example for a finished coltpay payment button.</p>
      <img src="../../../../../assets/img/example-image.png"  class="img-fluid">
    </div>
  </div>
</div>
</div>

<div class=" bg-grey"></div>

<div class="border border-dark rounded">
<div class="container pb-5">
  <div class="row">
    <div class="col-md-12 p-0">
      <h5 class="section-title pl-3">1 Code</h5>
    </div>
    <div class="col-12 p-5">
      <img src="../../../../../assets/img/code-image.png" class="img-fluid" >
      <div class="text-center mt-2">
        <button class="btn border border-dark pl-4 pr-4 " (click)="copyCode()" #copyButton>Copy Code</button>
      </div>
    </div>
  </div>

</div>
</div>


<div class=" bg-grey"></div>

<div class="border border-dark rounded">
<div class="container pb-5">
  <div class="row">
    <div class="col-md-12 p-0">
      <h5 class="section-title pl-3">2 Parameters</h5>
    </div>
    <div class="col-12">
      <p>The link to the coltpay checkout page accepts to the following parameters:</p>
      <div class="main-box mb-3">
        <button class="btn btn-lg border border-dark mr-2 ">public_api_token</button>
        <button class="btn btn-sm border border-dark mr-2 rounded ">REQUIRED</button>
      </div>

      <div class="main-box mb-3">
        <button class="btn btn-lg border border-dark mr-2 ">currency</button>
        <button class="btn btn-sm border border-dark mr-2 rounded ">REQUIRED</button>
        <span>3 letter currency code .ie. usd,btc,mxn</span>
      </div>


      <div class="main-box mb-3">
        <button class="btn btn-lg border border-dark mr-2 ">price</button>
        <button class="btn btn-sm border border-dark mr-2 rounded ">REQUIRED</button>
        <span>The price of to match the currency</span>
      </div>

      <div class="main-box mb-3">
        <button class="btn btn-lg border border-dark mr-2 ">notification_url</button>
        <button class="btn btn-sm border border-dark mr-2 rounded ">OPTIONAL</button>
        <span>The price of to match the currency</span>
      </div>


      <div class="main-box mb-3">
        <button class="btn btn-lg border border-dark mr-2 ">order_id</button>
        <button class="btn btn-sm border border-dark mr-2 rounded ">OPTIONAL</button>
        <span>An optional order ID you want to attach your transaction to.</span>
      </div>


      <div class="main-box mb-3">
        <button class="btn btn-lg border border-dark mr-2 ">cancel_url</button>
        <button class="btn btn-sm border border-dark mr-2 rounded ">OPTIONAL</button>
        <span>The URL you want us to redirect the customer to if they cancel the transaction.</span>
      </div>

      <div class="main-box mb-3">
        <button class="btn btn-lg border border-dark mr-2 ">success_url</button>
        <button class="btn btn-sm border border-dark mr-2 rounded ">OPTIONAL</button>
        <span>The URL you want us to redirect the customer to if they successfully complete the transaction.</span>
      </div>


    </div>
  </div>

</div>
</div>


<div class=" bg-grey"></div>

<div class="border border-dark rounded">
<div class="container pb-5">
  <div class="row">
    <div class="col-md-12 p-0">
      <h5 class="section-title pl-3">3 Important Notice</h5>
    </div>
    <div class="col-12">
      <p class="text-center font-weight-bolder"> You should never trust the data sent to your <button class="btn border-dark font-weiht-bolder">notification_url</button><br>
        and should always validate the data with our RESTful API</p>
    </div>
  </div>

</div>
</div>




<div class=" bg-grey"></div>

<div class="border border-dark rounded">
<div class="container pb-5">
  <div class="row">
    <div class="col-md-12 p-0">
      <h5 class="section-title pl-3">4 You're now Integrated</h5>
    </div>
    <div class="col-12">
      <p class="text-center font-weight-bolder"> If you are experiancing urther technical issues <br>Please reach out to support@coltpay.com</p>
    </div>
  </div>

</div>
</div>