<section class="slider-content">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12 col-12 slider-body">
        <h3></h3>

      </div>
    </div>
  </div>
</section>
<section class="login-content">
<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-12">
      <!-- <div class="text-center ">
        <a routerLink="" class="login-logo">
          <img src="assets/img/home/logo.png" class="img-fluid">
        </a>
      </div> -->
      <div class="login-inner">
        <div class="login-left-side">
          <div class="login-middle">
            <div class="login-left-inner text-center">
              <a class="text-stronger" routerLink="">
                <img src="./assets/img/home/logo.png" alt="logo">
              </a>
              <a routerLink="/sign-up" class="signup-btn text-center">Create an account</a>
            </div>
          </div>
        </div>
        <div class="login-right-side">
          <h4>Reset Password</h4>
          <div  #hasAlert></div>

          <div *ngIf="!resetIsValid">
            <p>The password reset token you have is invalid. Please request a new password reset <a routerLink="/forgot-password">here</a>.</p>
          </div>

          <form *ngIf="resetIsValid" [formGroup]="updatePasswordForm" (submit)="submit()" class="row justify-content-center">
            <div class="col-lg-12 col-sm-10" id="pwd-container">
              <div class="form-group">
                <label for="id_new_password">New password</label>
                <input formControlName="password" name="password" [type]="hide ? 'password' : 'text'"
                  class="form-control input-lg new-password">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}
                </mat-icon>
                <span
                  *ngIf="updatePasswordForm.get('password').hasError('required') && updatePasswordForm.get('password').touched"
                  class="errors">
                  <small>Password is required !</small>
                </span>
                <span
                  *ngIf="!updatePasswordForm.get('password').hasError('required') && updatePasswordForm.get('password').hasError('minlength')"
                  class="errors">
                  <small> Password must have at least
                    <strong>8</strong> character!</small>
                </span>
                <app-password-strength-bar *ngIf="updatePasswordForm.get('password').value"
                  [passwordToCheck]="updatePasswordForm.get('password').value" [showText]="true">
                </app-password-strength-bar>
              </div>
              <div class="form-group">
                <label for="confirm_new_password">Confirm new password</label>
                <input formControlName="cnFpassword" [type]="hide ? 'password' : 'text'" class="form-control input-lg"
                  id="id_repeated_new_password">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}
                </mat-icon>
                <span
                  *ngIf="updatePasswordForm.get('cnFpassword').hasError('required') && updatePasswordForm.get('cnFpassword').touched"
                  class="errors">
                  <small>Password is required!</small>
                </span>
                <span
                  *ngIf=" updatePasswordForm.get('cnFpassword').value && updatePasswordForm.get('cnFpassword').value!==updatePasswordForm.get('password').value && updatePasswordForm.get('cnFpassword').touched"
                  class="errors">
                  <small>Passwords don't match!</small>
                </span>
              </div>


              <div class="row input-group mb-4 m-0">
                <div class="col-lg-12 text-center">
                  <button class="login-btn" [disabled]="!updatePasswordForm.valid"> <span>Update Password</span>
                    <i *ngIf="loading" class="fa fa-spinner ml-2 fa-spin"></i></button>
                </div>
              </div>
  
              <div class="input-group forgot-signup">
                <a routerLink="/sign-in" class="text-right">Sign in
                  <i class="fa fa-long-arrow-alt-right"></i>
                </a>
              </div>
  

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</section>