<div class="container mb-5 pb-3">
  <div class="row">
    <div class="col-md-12 p-0">
        <h5 class="section-title pl-3">Change Password</h5>
    </div>
  </div>
  <div class="row justify-content-center mb-4">
    <div class="col-md-6" #hasAlert></div>
  </div>
  <form [formGroup]="form" (submit)="submit()" class="row justify-content-center">
    <div class="col-lg-6 col-sm-10" id="pwd-container">
      <div class="form-group">
        <label for="current_password">Current password</label>
        <input formControlName="old_password" [type]="hide ? 'password' : 'text'" class="form-control input-lg password">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}
          </mat-icon>
      </div>
      <div class="form-group">
        <label for="id_new_password">New password</label>
        <input formControlName="new_password" name="new_password" [type]="hide ? 'password' : 'text'" class="form-control input-lg new-password">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}
        </mat-icon>
        <span *ngIf="form.get('new_password').hasError('required') && form.get('new_password').touched" class="errors">
          <small>Password is required !</small>
        </span>
        <span *ngIf="!form.get('new_password').hasError('required') && form.get('new_password').hasError('minlength')" class="errors">
          <small> Password must have at least
            <strong>6</strong> character!</small>
        </span>
        <app-password-strength-bar  *ngIf="form.get('new_password').value" [passwordToCheck]="form.get('new_password').value" [showText]="true"></app-password-strength-bar>
      </div>
      <div class="form-group">
        <label for="confirm_new_password">Confirm new password</label>
        <input formControlName="cnFpassword" [type]="hide ? 'password' : 'text'" class="form-control input-lg" id="id_repeated_new_password">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}
        </mat-icon>
        <span *ngIf="form.get('cnFpassword').hasError('required') && form.get('cnFpassword').touched" class="errors">
          <small>Password is required !</small>
        </span>
        <span *ngIf=" form.get('cnFpassword').value && form.get('cnFpassword').value!==form.get('new_password').value && form.get('cnFpassword').touched"
          class="errors">
          <small>Password don't match !</small>
        </span>
      </div>
      <div class="form-group text-right">
        <button [disabled]="!form.valid" type="submit" class="btn theme-btn text-right defaulbtn-size mt-2">Change password
          <i *ngIf="loading" class="fa fa-spinner ml-2 fa-spin"></i>
        </button>
      </div>
    </div>
  </form>
</div>