
.input-group-append {
    position: absolute;
    right: 13px;
    top: 34px;
   }
   .btn , .btn-outline-secondary{
    padding: 0;
    border:none;
    width: 30px;
   }

   .btn-outline-secondary:hover  , .btn:hover{

   }