<div class="dashboard-wrapper">
	<!-- Header -->
	<header class="header">
		<div class="custom-container">
			<div class="row">
				<div class="col-lg-2 col-md-3 col-sm-4 col-5 logo">
					<a routerLink="">
						<img src="assets/img/home/logo.png" class="img-fluid">
					</a>
				</div>
				<div class="col-lg-10 col-md-9 col-sm-8 col-7">
					<nav class="menu pull-right full100">
						<ul>
							<li>
								<a><i class="fas fa-book-open"></i>
								</a>
								<div class="dropdown-area">
									<ul>
										<li><a href="signin.html">Documentation</a></li>
										<li><a href="signin.html">Supports</a></li>
										<li><a href="signin.html">Keyboard Shortcut</a></li>
									</ul>
								</div>
							</li>
							<li>
								<a><i class="fas fa-bell"></i>
								</a>
								<div class="dropdown-area">
									<p>You’re all caught up.</p>
								</div>
							</li>
							<li>
								<a class="user"><span><i class="fas fa-user-alt"></i></span>
								</a>
								<div class="dropdown-area">
									<div class="user-nameemail text-center">
										<img src="assets/img/home/defaultuser.jpg" class="img-fluid">
										<h5>Jhone Smith</h5>
										<span>jhonesmith@gmail.com</span>
									</div>
									<div class="w-100 dashboard-submenu">
										<ul>
											<li><a href="#">Your Profile</a></li>
											<li><a href="#">Log out</a></li>
										</ul>
									</div>
								</div>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>


	<section class="mian-content">
		<div class="custom-container">
			<div class="row">
				<div class="col-lg-3 col-md-4 col-sm-12 col-12">
					<div class="left-side shadow">
						<a class="dashboard-togglemenu">Manu <i class="fa fa-angle-down"></i></a>
						<!-- large device -->
						<div id="accordianmenu" class="large-accordian">
						    <ul>
								<li><a><i class="fa fa-home"></i>Home</a></li>
								<li><a><i class="fa fa-check"></i>Active Yout Account</a></li>
								<li class="active">
									<a><i class="fas fa-money-bill"></i>Payments</a>
									<ul>
										<li><a href="#">Disput</a></li>
										<li><a href="#">Settings</a></li>
										<li><a href="#">Apply pay</a></li>
									</ul>
								</li>
								<li class="active">
									<a><i class="fa fa-balance-scale"></i>Balance</a>
									<ul>
										<li><a href="#">Payouts</a></li>
										<li><a href="#">Transection</a></li>
										<li><a href="#">Settings</a></li>
									</ul>
								</li>
								<li><a><i class="fas fa-user-alt"></i> Customers</a></li>
								<li class="active">
									<a><i class="fas fa-adjust"></i>Raders</a>
									<ul>
										<li><a href="#">Review</a></li>
										<li><a href="#">List</a></li>
										<li><a href="#">Rules</a></li>
										<li><a href="#">Settings</a></li>
									</ul>
								</li>
								<li><a><i class="fas fa-plug"></i>Connect</a></li>
								<li><a><i class="fas fa-shopping-bag"></i>Order's</a></li>
							</ul>
						</div>

						<!-- Mobile device -->
						<div id="accordianmenu" class="mobile-accordian">
						    <ul>
								<li><a><i class="fa fa-home"></i>Home</a></li>
								<li><a><i class="fa fa-check"></i>Active Yout Account</a></li>
								<li class="active">
									<a><i class="fas fa-money-bill"></i>Payments</a>
									<ul>
										<li><a href="#">Disput</a></li>
										<li><a href="#">Settings</a></li>
										<li><a href="#">Apply pay</a></li>
									</ul>
								</li>
								<li class="active">
									<a><i class="fa fa-balance-scale"></i>Balance</a>
									<ul>
										<li><a href="#">Payouts</a></li>
										<li><a href="#">Transection</a></li>
										<li><a href="#">Settings</a></li>
									</ul>
								</li>
								<li><a><i class="fas fa-user-alt"></i> Customers</a></li>
								<li class="active">
									<a><i class="fas fa-adjust"></i>Raders</a>
									<ul>
										<li><a href="#">Review</a></li>
										<li><a href="#">List</a></li>
										<li><a href="#">Rules</a></li>
										<li><a href="#">Settings</a></li>
									</ul>
								</li>
								<li><a><i class="fas fa-plug"></i>Connect</a></li>
								<li><a><i class="fas fa-shopping-bag"></i>Order's</a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-lg-9 col-md-8 col-sm-12 col-12 right-side">
					<div class="row">
						<div class="col-lg-12">
							<div class="shadow section-content">
								<h5 class="section-title">My Profile</h5>
								<div class="row justify-content-center">
									<div class="col-lg-6">
										<form>
											<div class="form-group row">
											    <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label>
											    <div class="col-sm-10">
											      <input type="text" class="form-control" id="inputEmail3" placeholder="Name">
											    </div>
											</div>
											<div class="form-group row">
											    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
											    <div class="col-sm-10">
											      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
											    </div>
											</div>
											<div class="form-group row">
											    <div class="col-sm-10 offset-sm-2 text-right">
											      <button type="submit" class="btn theme-btn">Save</button>
											    </div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="shadow section-content">
								<h5 class="section-title">Personal Details</h5>
								<div class="row justify-content-center">
									<div class="col-lg-8">
										<form>
											<div class="row">
												<div class="col-lg-6">
													<div class="form-group">
													    <label for="inputEmail3">Last Name</label>
													    <input type="text" class="form-control" id="inputEmail3" placeholder="Last Name" autocomplete="">
													</div>
												</div>
												<div class="col-lg-6">
													<div class="form-group">
													    <label for="inputEmail3">First Name</label>
													    <input type="text" class="form-control" id="inputEmail3" placeholder="Last Name">
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-4">
													<div class="form-group">
													    <label for="inputEmail3">Month</label>
													    <select class="form-control">
													    	<option>Month</option>
													    	<option>Jan</option>
													    	<option>Feb</option>
													    	<option>March</option>
													    	<option>April</option>
													    </select>
													</div>
												</div>
												<div class="col-lg-4">
													<div class="form-group">
													    <label for="inputEmail3">Day</label>
													    <select class="form-control">
													    	<option>Day</option>
													    	<option>1</option>
													    	<option>2</option>
													    	<option>3</option>
													    	<option>4</option>
													    </select>
													</div>
												</div>
												<div class="col-lg-4">
													<div class="form-group">
													    <label for="inputEmail3">Year</label>
													    <select class="form-control">
													    	<option>Year</option>
													    	<option>2000</option>
													    	<option>2001</option>
													    	<option>2003</option>
													    	<option>2004</option>
													    </select>
													</div>
												</div>
											</div>
											<div class="form-group">
												<label for="inputEmail3">Street Address 1</label>
												<input type="text" class="form-control" id="inputEmail3" placeholder="Street Address 1">
											</div>
											<div class="form-group">
												<label for="inputEmail3">Street Address 2</label>
												<input type="text" class="form-control" id="inputEmail3" placeholder="Street Address 2">
											</div>
											<div class="form-group">
												<label for="inputEmail3">City</label>
												<input type="text" class="form-control" id="inputEmail3" placeholder="City">
											</div>
											<div class="form-group">
												<label for="inputEmail3">Postal Code</label>
												<input type="text" class="form-control" id="inputEmail3" placeholder="City">
											</div>
											<div class="form-group">
												<label for="inputEmail3">Country</label>
												<input type="text" class="form-control" id="inputEmail3" placeholder="Country">
											</div>
											<div class="form-group">
											    <div class="col-sm-10 offset-sm-2 text-right">
											      	<button type="submit" class="btn theme-btn">Save</button>
											    </div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-12">
							<div class="shadow section-content">
								<h5 class="section-title">Change Password</h5>
								<div class="row justify-content-center">
									<div class="col-lg-6">
										<form>
											<div class="form-group row">
											    <label for="inputEmail3" class="col-sm-4 col-form-label">Old Password</label>
											    <div class="col-sm-8">
											      <input type="password" class="form-control" id="inputEmail3" placeholder="Email">
											    </div>
											</div>
											<div class="form-group row">
											    <label for="inputPassword3" class="col-sm-4 col-form-label">New Password</label>
											    <div class="col-sm-8">
											      <input type="password" class="form-control" id="inputPassword3" placeholder="New Password">
											    </div>
											</div>
											<div class="form-group row">
											    <div class="col-sm-10 offset-sm-2 text-right">
											      <button type="submit" class="btn btn-default mr-3">Cancel</button>
											      <button type="submit" class="btn theme-btn">Save</button>
											    </div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>

</div>
