<!-- <div class="container pb-5">
  <div class="row">
    <div class="col-md-12 p-0">
      <h5 class="section-title pl-3">Wordpress WooCommerce Integration</h5>
    </div>

    <p class="col-12">This guide will describe the intergration with wordpress using WooCommerce. It is recomended you
      read the basic wordpress intergration guide first and follow those steps. This guide also assumes you have
      WooCommerce installed and setup.</p>

    <p class="col-12">Under Settings > Coltpay enter both the public and private API keys found in Account Profile > API
      Keys. Both are required. </p>

    <p class="col-12">Under WooCommerce > Settings > Payments make sure the Coltpay option is enabled. You can also edit
      the Title and Description that the end user will see on the checkout page. </p>

    <p class="col-12">When a payment is completed and is cleared to ship we will update the status to Processing. </p>

  </div>
</div> -->



<!-- <div class="container pb-5">
  <div class="row">
    <div class="col-md-12 p-0">
      <h5 class="section-title pl-3">Basic Wordpress Integration</h5>
    </div>

    <p class="col-12">This guide will describe the simpliest wordpress Integration using a shortcode.</p>

    <p class="col-12">Go to Account Profile > API Keys and genreate a new Public API key. These keys can not be viewed once they are
      created so be sure to save it in a safe location. The Public API key can only be used to create invoices and is
      safe to put on your website. </p>

      <p class="col-12">Inside your WP admin panel go to Plugins > Add New. In the serach bar look up "ColtPay Commerce" and click install. After the plugin is installed click Activate.  </p>
  
      <p class="col-12">Once the plugin is installed and activated you can find the settings page under Settings > Coltpay. On this page you'll see two input boxes for the API keys found in Account Profile > API Keys. The public key is required. You do not need to enter the private key for the basic installation.   </p>

    <div class="col-12">
      <p> You can then insert this code snippet into any page or post.  </p>
      <code>
          [coltpay-payment id="" class="" amount="" currency=""]
        </code>
        
        <p>Another example using most of the below parameters would look like this: </p>
        <code>
            [coltpay-payment id="" class="" amount="5.00" currency="usd" success_url="yoursite.com/success" cancel_url="yoursite.com/cancel" order_id="1"]
          </code>
  
    </div>

    <p class="col-12"> You can use the folowing parameters:</p>
    <div class="col-12">
      <ul>
        <li><kbd>currency</kbd> - REQUIRED - 3 letter currency code i.e. usd, btc, mxn</li>
        <li><kbd>price</kbd> - REQUIRED - The price of to match the currency</li>
        <li><kbd>notification_url</kbd> - OPTIONAL - The URL you want us to send update notifications to.</li>
        <li><kbd>order_id</kbd> - OPTIONAL - An optional order ID you want to attach your transaction to.</li>
          <li><kbd>cancel_url</kbd> - OPTIONAL - The URL you want us to redirect the customer to if they cancel the
            transaction.</li>
          <li><kbd>success_url</kbd> - OPTIONAL - The URL you want us to redirect the customer to if they successfully
          complete the transaction.</li>
      </ul>
    </div>

  </div>
</div> -->

<div class="border border-dark rounded">
<div class="container pb-5">
  <div class="row">
    <div class="col-md-12 p-0">
      <h5 class="section-title pl-3">Wordpress / WooCommerce Integration</h5>
    </div>
    <div class="col-12 p-5">
      <p >This guide will describe the intergration with wordpress using WooCommerce. It is recomended you read the basic wordpress intergration guide first and follow those steps. This guide also assumes you have WooCommerce installed and setup.</p>
    </div>
  </div>
</div>
</div>

<div class=" bg-grey"></div>

<div class="border border-dark rounded">
<div class="container pb-5">
  <div class="row">
    <div class="col-md-12 p-0">
      <h5 class="section-title pl-3">1 Account Profile</h5>
    </div>
    <div class="col-12 p-5">
      <p>Under Settings > Coltpay enter both the public and private API keys found in Account Profile > API Keys. Both are required.</p>
      <img src="../../../../../assets/img/api-information.png"  class="img-fluid">
    </div>
  </div>
</div>
</div>
<div class=" bg-grey"></div>

<div class="">
<div class="container pb-5">
  <div class="row">
    <div class="col-md-12 p-0">
      <h5 class="section-title pl-3">2 WooCommerce settings</h5>
    </div>
    <div class="col-12 p-5">
      <p>Under Woocommerce > Settings > Payments make sure the Coltpay option is enabled.</p>
      <img src="../../../../../assets/img/wp-settings.png"  class="img-fluid"><br>
      <p>You can also edit the Title and Description that the end user will see on the checkout page.</p>
      <img src="../../../../../assets/img/steps-7.png" class="img-fluid">
    </div>
  </div>

</div>
</div>

<div class=" bg-grey"></div>

<div class="border border-dark rounded">
<div class="container pb-5">
  <div class="row">
    <div class="col-md-12 p-0">
      <h5 class="section-title pl-3">3 Quick note</h5>
    </div>
    <div class="col-12 p-5">
      <p class="text-center font-weight-bolder"> When a payment is completed and is cleared to ship we will update the status to Processing.</p>
    </div>
  </div>
</div>
</div>

<div class=" bg-grey"></div>

<div class="border border-dark rounded">
<div class="container pb-5">
  <div class="row">
    <div class="col-md-12 p-0">
      <h5 class="section-title pl-3">4 You're now Integrated</h5>
    </div>
    <div class="col-12 p-5 ">
      <p class="text-center font-weight-bolder"> If you are experiancing urther technical issues<br> Please reach out to support@coltpay.com</p>
    </div>
  </div>

</div>
</div>